.main-content {
  padding: 2rem;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  background-color: rgba(32, 20, 96, 0.6);
}

.error-message {
  margin:0.5rem;
  background-color: rgba(255, 0, 0, 0.1);
  color: red;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}

.app-box{
box-sizing: border-box;
  border-radius: 15px;
  padding:3rem;
  width: 100%;
  max-width: 600px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}


@media(max-width:460px){
  .main-content{
    padding:1rem;
  }
  .app-box{
    margin-bottom:5rem;
  }
}