.main-content {
  padding: 2rem;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  background-color: rgba(32, 20, 96, 0.6);
}

.app-box{
box-sizing: border-box;
  border-radius: 15px;
  padding:3rem;
  width: 100%;
  max-width: 600px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.error-message{
  color:white;
  margin-top:2rem;
  line-height: 1.2rem;
}

@media(max-width:460px){
  .main-content{
    padding:1rem;
  }
}