@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  }

body{
  background-image: url("../assets/mount-fuji-volcano-japan-river-reflection-boat-couple-5k-3840x2160-5440.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

