.search-form{
    display: flex;
    gap:1rem;
    justify-content:space-between;    
}
.search-button{
    padding:0.7rem;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1); 
    color: white;
    border: 1.5px solid rgba(255, 255, 255, 0.2); 
    background: transparent;
}

.search-button:hover,
.search-button:focus {
  /* background-color: rgba(255, 255, 255, 0.091);  */
  border: 1.5px solid rgba(255, 255, 255, 0.5); 
  outline: none;
}
      

.search-icon{
    font-size:1.6rem
}
.search-input {
    padding: 1rem;
    border-radius: 15px;
    width: 29rem;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;     
}

.search-input::placeholder{
    color:white;
}

.search-input:hover,
.search-input:focus  {
  border: 1.5px solid rgba(255, 255, 255, 0.5); 
  outline: none;
}

@media(max-width:480px){
    .search-button{
        display: none;
    }
}

@media(max-width:391px){
    .search-input{
        width: 100%;
    }
    .search-input::placeholder{
        font-size:95%;
    }
}




